*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
#main
{
    width:100%;
}
.hero
{
    width: 100%;
    height: 100vh;
    background-image: url('images/background.png');
}
.overlay
{
    
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.logoimage
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#navbar
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar div{
    margin: 20px;
    display: flex;  
    justify-content: space-around;
    width:50%;
 
  
}
#navbar  div a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size:3vh;
}
#navbar div a::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:red;
    transform-origin: bottom right;
    transition: transform  0.25s ease-out;
}
#navbar div a:hover:after
{
  transform: scaleX(1);
  transform-origin: bottom left;

}
.first-heading
{
    margin-top: 20vh;
}
#heading h1{
  text-align: center;
  font-size: 8vh;
  line-height:1.2;
  filter:drop-shadow(8px 8px 20px rgb(241, 89, 89)) ;
}
.imagepop
{
   width: 200px;
   height:250px;
   position: absolute;
   margin:2px;
   overflow: hidden;
   
}

.imagepop img{
       
    width:100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%);
}
.secondpage
{
    width:100%;
   
    padding: 2vh;
    background-color: rgb(0, 0, 0);
}
.secongpagenavbar
{
    width:100%;
    display: flex;
   
}
.subpage
{
    width:90%;
    background-color: rgb(14, 14, 14);
    box-shadow: inset -1px -1px 20px 4px red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.btnsection
{
    width: 38vh;
    height: 6vh;
    border-radius: 20px;
    background-color:rgb(33, 33, 33);
    display: flex;
    justify-content: space-around;
    margin: 20px;
   
   
}
.btnmovies
{
    background-color: inherit;
    padding: 6px;
    border-radius: 20px;
    font-size: 16px;
    border:none;
   
}
.active, .btnmovies :hover
{
    background-color: #DC0000;
    border-radius: 20px;
}
.btn1
{
    padding-right: 48px;
}
.btn2
{
    padding-left: 48px;
}
hr{
    width:65%;
    height: 1px;
    color:white;
}
.searchbar
{
     width:480vh;   
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.searchbar input
{ 
   padding:2vh;
   background-color:rgb(33, 33, 33) ;
   border: 1px solid white;
   border-radius: 20px;
   margin: 2vh;
}
.searchbar button{
    padding: 2vh;
    border: 1px solid white;
}
.moviedisplay
{
    width:30vh;
    height:40vh;
    border: 1px solid white;
    margin: 5px;
    text-align: center;
}
.showmovie
{
  width:100%;
  height:30vh;
  object-fit: cover;
}


    
