*{
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans', sans-seri;
    box-sizing: border-box;
}

.maindiv
{
  width: 100%;
  height: 100vh;
  background-image: url('https://wallpapertag.com/wallpaper/full/6/d/6/44608-ombre-background-2560x1600-windows.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizcard
{
     width:40%;
     border: 1px solid black;
     background-color: #190482;
     border-radius: 10px;
     color : white;
     padding: 15px;
     box-shadow: 0px 0px 20px 6px #0E21A0; 
    
}
ul li
{
    list-style: none;
    margin: 20px;
    font-size: 20px;
  
    color: white;
    
}
ul li input
{
    vertical-align:middle;
}
#btnsubmit
{
    width:45%;
    padding:5px;
    background-color:whitesmoke;
    color: black;
    border: 2px solid black;
    
}