* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 10vh;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 5vh;
    /* width: 33%; */
    color: #222;
}

h3 {
    font-size: 24px;
}

#navbar {
    width: 100%;
    height: 12vh;
    box-shadow: 0 5px 15px rgba(15, 15, 15, 0.2);
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #e3e6f3;
}

.navlinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navlinks a {
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
    transition: 0.25 ease;
}

.navlinks a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #35A29F;
    transform-origin: bottom right;
    transition: transform 0.25 ease-out;
}

#navbar div a:hover,
#navbar div a.active {
    color: #35A29F;
}

#navbar div a.active::after,
#navbar div a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.hero {
    width: 100%;
    height: 90vh;
    background-image: url('images/hero4.png');
    background-size: cover;
    padding: 20vh;
    line-height: 2;
}

.psect {
    color: grey;
}

.heading {
    color: #35A29F;
}

.hero button {
    background-image: url('images/button.png');
    background-position: center;
    background-color: inherit;
    border: 0;
    background-size: cover;
    font-size: 16px;
    padding: 11px 80px 20px;
    color: #35A29F;
    font-weight: 700;
}

.features {
    background-color: whitesmoke;
    display: flex;
    padding: 10vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.features div {
    width: 160px;
    height: fit-content;
    border: 1px solid gray;
    margin: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(15, 15, 15, 0.2);

}

.features div:hover {
    box-shadow: 2px 2px 20px rgba(15, 15, 15, 0.6);

}

.features div button {
    color: #35A29F;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin: 4vh;

}

.features div:nth-child(1) button {
    background-color: #B9EDDD;
}

.features div:nth-child(2) button {
    background-color: #FFE6F7;
}

.features div:nth-child(3) button {
    background-color: #A3D8F4;
}

.features div:nth-child(4) button {
    background-color: #D2D0FE;
}

.features div:nth-child(5) button {
    background-color: #eabcf5;
}

.features div:nth-child(6) button {
    background-color: #FFDFD3;
}

.products {
    /* width: 100%; */
    background-color: white;
    padding: 5vh;
}

.products h1 {
    text-align: center;
    line-height: 1.5;
}

.products p {
    text-align: center;
}

.products section {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productList {
    /* width: 22%; */
    width: 250px;
    margin-top: 50px;
    /* height: 60vh; */
    /* margin-left: 30px; */
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    line-height: 1.5;
}

.lastproductList {
    margin-right: 30px;
}

.PImage {
    width: 99%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
    margin: 2px
}

.productList p {
    text-align: left;
    font-size: 13px;
    color: grey
}

.productList h5 {
    font-size: 17px;
}

.productList h6 {
    font-size: 13px;
}

.productList span {
    margin: 1px;
    color: #35A29F;
    font-weight: 700;
}

.cart {
    color: #35A29F;
    text-align: center;
}

.ShopcartIcon {
    width: 100%;
    position: relative;
}

.cartcircle {
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    background-color: #d8ebdb;
    position: absolute;
    right: 7px;
    bottom: -2px;
    padding: 10px;
}

.cartcircle i {
    color: #12486B;
}

.productList:hover {
    transition: 0.25s ease;
    transform: scale(1.05);
    box-shadow: 2px 2px 20px rgba(15, 15, 15, 0.6);
}

.Homebanner {
    margin: 10vh 0;
    width: 100%;
    height: 40vh;
    background-image: url('images/b1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.7;
}

.Homebanner h4,
h3 {
    color: white;
}

.Homebanner h3 {
    font-size: 25px;
}

b {
    color: #C70039;
}

.SolidBtn {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none
}

.Homebanner button:hover {
    background-color: #071952;
    color: #d8ebdb;
}

.newArrival {
    width: 150vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.newArrivalSection {
    transition: transform 2s ease-in-out;
    position: absolute;
    width: 150vh;
    height: 70vh;
    background-image: url('images/new.jpg');
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.newArrivalProducts {
    font-weight: 400;
    width: 100%;
    height: 60vh;
    position: relative;
}



.imageSection {
    width: 196px;
    height: 238px;
    position: absolute;
    top: -21px;
    left: 44px;
    animation: fadeInDown 4s infinite;
    animation-fill-mode: both;
    border: 5px solid #000;
}

.imageSection1 {
    width: 181px;
    height: 246px;
    border: 5px solid #000;
    position: absolute;
    top: 147px;
    animation: fadeInUp 4s infinite;
    left: 190px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageSection img {
    width: 187px;
    height: 230px;
    object-fit: cover;
}

.imageSection1 img {
    width: 172px;
    height: 237px;
    object-fit: fill;
}

.newArrivalProducts h1 {
    color: #000;
    font-family: Inter;
    font-size: 68px;
    position: absolute;
    top: 42px;
    left: 255px;
}

.newArrivalProducts p {
    color: #65B741;
    font-family: Inria Sans;
    font-size: 36px;
    position: absolute;
    top: 117px;
    right: 100px;
}

.newArrivalProducts button {
    width: 152px;
    height: 34px;
    font-size: 16px;
    background: #65B741;
    border: 0;
    position: absolute;
    top: 170px;
    right: 70px
}

.banners {
    width: 100%;
    padding: 5vh;
    padding-right: 6vh;
}

.bannerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.bannerSection div h4 {
    color: #fff;
}

.banners h1 {
    text-align: center;
    margin-bottom: 5vh;
}

.bannerSection div,
.sm_banners div {
    margin: 3vh;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}

.btnbanner {
    padding: 10px;
    border: 1px solid white;
    background-color: inherit;
    color: #fff;
    margin-top: 2vh;
}

.b_m1 {
    background-image: url('images/banner1.jpg');
    /* width:98%; */
    min-width: 520px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.b_m2 {
    background-image: url('images/banner2.jpg');
}

.sm_banners {
    margin-top: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 5vh;
    padding-right: 5vh;
}

.sm_banners div {
    margin: 1vh;
    padding: 1vh;
}

.sm_banners h3 {
    padding-left: 10px;
}

.sm_banners p {
    padding-left: 10px;
}

.small_banners {
    background-image: url('images/banner3.jpg');
    /* width: 40%; */
    min-width: 300px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.small_banners2 {
    background-image: url('images/banner4.jpg');
    position: relative;

}

.small_banners3 {
    background-image: url('images/banner5.jpg');
    position: relative;
}

.banners button:hover {
    cursor: pointer;
    background-color: #35A29F;
    color: #fff;
}

.footer {
    width: 100%;
    height: 27vh;
    margin-top: 3vh;
    background-color: #071952;
    padding: 7vh;
    color: #fff;
}

#fsignup {
    float: right;
    width: 30%;
    padding: 5px;
    height: 7vh;
    margin-top: -7px;
}

.footer button {
    float: right;
    width: 10%;
    background-color: #35A29F;
    height: 7vh;
    border: 0;
    color: #fff;
    margin-top: -7px;
}

.footer b {
    color: #FFB534;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10vh;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    

}
.col p{
    color: #000;
}
footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    padding-bottom: 20px;
    font-size: 14px;
}

footer p {
    margin: 0 0 8px 0;
    font-size: 13px;
}

footer a {

    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer.follow {
    margin-top: 20px;
}

footer .follow i {
    color: #092635;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #35A29F;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #35A29F;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.navlinks .closeburger {
    display: none;
}

#mobile {
    display: none;
}

/* Shop page  */
#shopHeader {
    width: 100%;
    height: 45vh;
    background-image: url('images/shopPageBanner.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#shopHeader h4,
p {
    color: #fff;
}

#pagination {
    margin: 10vh;
    height: 10vh;
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #35A29F;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

/* simgleimage page */
#singleProduct {
    width: 100%;
    padding: 10vh;
    display: flex;
}

.Simage {
    width: 98%;
    height: 450px;
    object-fit: cover;
}

.subImages {
    width: 107px;
    height: 117px;
}

.Pdetails {
    width: 60%;
    line-height: 2;
    padding: 5vh;

}

.Pdetails h3 {
    color: #000;

}

.Pdetails button{
    background-color: #35A29F;
    color: #fff;
}

.Pdetails p {
    text-align: justify;
}

.Pdetails input {
    width: 10%;
    padding: 3px;
    height: 31px;
}

.Pdetails select {
    padding: 3px;
}

/* blog page */
#shopHeader.blogHeader {
    background-image: url('images/blog/blogbanner.jpg');
}

#blog {
    padding: 150px 150px 0 150px;

}

#blog .blog-box {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

#blog .blog-img {
    margin-right: 40px;
    width: 50%;
}

#blog img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
#blog .blog-details
{
    width: 50%;
}
#blog .blog-details a
{
    text-decoration: none;
    font-size: 11px;
    color: black;
    position: relative;
    font-weight: 700;
    transition: 0.4s;
}
#blog .blog-details a::after{
    content: '';
    width:50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top:7px;
    right: -60px;
    border:none;
}
#blog .blog-details a:hover
{
    color: #35A29F;
}
#blog .blog-details a:hover::after{
    background-color: #35A29F; 
}
#blog .blog-box h1{
    position: absolute;
    top:-49px;
    left: 0px;
    font-size: 70px;
    font-weight: 700;
    color:rgb(196, 196, 196);
    z-index: -1;
}

/* about page */
#shopHeader.aboutHeader {
    background-image: url('images/about/banner.png');
}
#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video h1{
 text-align: center;
}
#video h1 span{
    color:purple;
    text-decoration: underline;
}
#video div{
    width:70%;
    height:100%;
   margin-top: 30px;
   margin-bottom: 30px;
    /* border: 5px solid rgb(251, 4, 4); */
}
#aboutvideo{
    width:100%;
    height: 100%;
    border-radius: 20px;

}

.contactDetails{
    padding: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cdetails{
    width: 50%;
}
.map{
    width:50%;
}
#MapLocation{
    width:95vh;
    height:75vh;
}
.contactDetails h5 ,#form_details form  span{
    margin-bottom:3vh;
    font-weight:300;

}
.contactDetails h3 ,#form_details form h3{
    color: #000;
    margin-bottom:3vh;
}

.contactDetails div li{
   list-style: none;
   display: flex;
   padding: 3vh;
}
.contactDetails div li p{
    margin-left: 3vh;
    color: #000;
    font-weight:300;
}
#form_details{
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form_details form{
    width:65%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 7vh
}
#form_details form input ,
#form_details form textarea{
    width:100%;
    padding: 12px 15px;
    border:1px solid gray;
    outline: none;
    margin-bottom: 20px;
}
#form_details  button{
    background-color: #35A29F;
    color: #fff;
}
#form_details #people div{
   padding-bottom: 25px;
   display: flex;
   align-items: flex-start;
}
#form_details #people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form_details #people div p{
    
    margin: 0;
    font-size: 13px;
    line-height: 25px ;
}
#form_details #people div p span{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
/* cart page */
#cart {
    width:100%;
    padding: 5vh;
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
width:100px;
text-align: center;
}
#cart table td:nth-child(2){
    width:150px;
  text-align: center;
}
#cart table td:nth-child(3){
    width:250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width:150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid black;
    border-right: none;
    border-left: 0;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table  tbody tr td{
 padding-top: 15px;
}
#cart table thead tbody  td{
    font-size: 13px;
}
#cartadd{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
    color: #000;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width:60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button ,
#subtotal button{
    background-color: #35A29F;
    color: #fff;
}
#subtotal button{
    margin-left: 0;
}
#subtotal{
    width:50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border:  1px solid #e2e9e1;
    font-size: 13px;
    padding: 10px;
}
#RemoveFrmCart{
    cursor: pointer;
}

/* //media query */
@media (max-width:799px) {
    .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #e3e6f3;
        box-shadow: 0px 10px 10px 0px rgb(161, 160, 160);
        height: 100vh;
        width: 50%;
        position: fixed;
        top: -4px;
        right: 0px;
        transition: 0.1s;
        padding: 160px 0px 0px 0px;
        display: none;
        font-size: 5vh;
    }

    .navlinks .closeburger {
        display: inline;
        position: absolute;
        top: 17px;
        left: 10px;
        font-size: 24px;
    }

    #mobile {
        display: block;
        cursor: pointer;
    }


    /* single product  */
    #singleProduct {

        padding: 5vh;

    }

    .subImages {
        width: 82px;
        height: 98px;
    }

    .Pdetails {

        padding: 2vh;
    }

    .Pdetails input {
        width: 20%;
        height: 32px;
    }

    .Pdetails p {
        font-size: 17px;
        text-align: unset;
    }
/* home page  */
 
    .hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 5vh;
    }

    .features {
        justify-content: center;
    }

    .products section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .Homebanner {

        height: 30vh;

    }

    .banners h1 {
        text-align: center;
        margin-bottom: 5vh;
        font-size: 5vh;
    }

    .b_m1 {
        width: 100%;
        height: 30vh;

    }

    .small_banners {
        width: 20%;
    }

    #fsignup {
        width: 80%;
        float: left;
        margin-top: 18px;
        height: 5vh;
    }
    .footer {
        padding:3vh;
       
    }
    .footer h3{
        margin-bottom:1vh;
    }
    .footer span{
        margin-left: 0;
    }
    .footer button {
        margin-top: 40px;
        float: left;
        height: 5vh;
    }
    /* blogpage */
    #blog {
        padding:50px 50px 0 50px;
    }

    /* aboutuspage */
    #video h1{
       font-size: 7vh;
       }
    }
    .contactDetails {
        padding: 5vh;
        
    }
    /* #MapLocation {
        width: 364px;
        height: 460px;
    } */
    .contactDetails div li {
        
        padding:1vh;
    }
    /* cart page */
    #cart {
      
        padding:2vh;
    }
    
@media (max-width:470px) {
 /* singleProduct */
    #singleProduct {
        width: 100%;
        padding: 0%;
        display: flex;
        flex-direction: column;
    }

    .Simage {
        width: 100%;
    }

    .subImages {
        width: 90px;
        height: 108px;
    }

    .Pdetails {
        width: 100%;

    }

    .Pdetails input {

        height: 34px;
    }

    .hero h2 {
        width: 64%;
        font-size: 6vh;
    }

    .hero h4 {
        font-size: 3vh;
    }

    .hero p {
        width: 64%;
    }

    .hero button {

        padding: 11px 60px 20px;

    }

    .features {

        padding: 5vh;

    }

    .features div {
        width: 144px;
        justify-content: space-around;

    }

    .products section {
        align-items: center;
        /* justify-content: space-between; */

    }

    .Homebanner {
        height: 40vh;
    }

    .Homebanner h3 {
        font-size: 25px;
        text-align: center;
    }

    .bannerSection div h4 {
        text-align: center;
        color: #fff;
    }

    .bannerSection div {

        padding: 14vh;

    }

    .footer {

        height: 29vh;
        padding: 5vh;
    }

    .footer button {
        width: 20%;
    }

    .newArrivalProducts h1 {
        display: none
    }

    .newArrivalProducts p {
        display: none;
    }

   
 /* blogpage */
 #blog .blog-box {
    display: flex;
   flex-direction: column;
    align-items: start;
 
}
#blog .blog-img {
    margin-right: 40px;
    width: 100%;
}
#blog .blog-details
{
    width: 100%;
}
#blog {
    padding: 15px 15px 0 15px;
}
/* contact details */
.contactDetails {
      
    flex-direction: column;  
    
    padding: 10px;
}
.Cdetails {
    width: 100%;
}
.map{
   width:  100%;
}
#MapLocation{
   margin:3px;
    width:350px;
    height: 380px;
}
#form_details {
    
    display: flex;
    flex-direction: column;
    align-items: normal;
}
#form_details form {
    width: 100%;
         margin-right: 0vh;
}
#form_details .SolidBtn {
  margin-left: 0; 
  margin-bottom: 2vh; 
}
/* cart page */
#cartadd {
    flex-direction: column;
    padding:2vh;
 }
#coupon{
 width: 100%;
}
#subtotal {
 width: 100%;

}
#coupon input {
    
    width: 55%;
    
}
#coupon h3, #subtotal h3 {
    margin-left: 1vh;
    padding-bottom: 10px;
    
}
#cart table td:nth-child(5) input {
    width: 71px;
}
}