:root{
    --primary-color: #1966d2;
    --secondary-color: #f0f4fd;
    --dark-blue: #00004a;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #4c5563;
    --light-blue-color: #2e8dfb;
    --transition: all 300ms ease-in-out;
}

body{
    font-family: "Inter", sans-serif!important;
}

/* text */
.text-primary{color: var(--primary-color)!important;}
.text-secondary{color: var(--secondary-color)!important;}
.text-blue{color: var(--dark-blue)!important;}
.text-grey{color: var(--grey-color);}

/* backgrounds */
.bg-primary{background-color: var(--primary-color)!important;}
.bg-secondary{background-color: var(--secondary-color)!important;}
.bg-light-blue{background-color: var(--light-blue-color);}

/* buttons */
.btn-primary{background-color: var(--primary-color)!important;}
.btn-secondary{background-color: var(--secondary-color)!important;}

/* font weights */
.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* font size */
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
/* line height */
.lh-16{line-height: 1.6;}
.lh-17{line-height: 1.7;}

/* padding and margin */
.py-8{
    padding-top: 80px;
    padding-bottom: 80px;
}
.p-8{
    padding: 6px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mx{
    margin-left:20px;
}
.my{
    margin-top: 50px;
}
.my-2{
    margin-top: 2px;
}
.mx-40{
    margin-right:40px;
}
.mx-20{
    margin-right:20px;
}
.center-btn{
    float: right;
}
/* section title */
.section-title p{
    max-width: 600px;
}

/* navbar */
.navbar{
    height: 90px;
    border-bottom: 2px solid #e7eefa;
}
.navbar-brand, .site-logo{
    color: var(--primary-color)!important;
}
.navbar-brand .navbar-brand-text, .site-logo-text{
    color: var(--dark-blue);
}
.navbar-toggler{
    border: none;
}
.btn-login{
    padding-top: 14px;
    padding-bottom: 14px;
    transition: var(--transition);
}
.btn-login:hover{
    background-color: #e7eefa!important;
    border-color: #e7eefa!important;
    color: var(--primary-color)!important;
}
.navbar-nav .dropdown-menu{
    border: none;
}
.navbar-nav .dropdown-item{
    margin: 8px 0;
    transition: var(--transition);
}
.navbar-nav .dropdown-menu .dropdown-item:hover{
    background-color: #fff;
    color: var(--primary-color);
}
.navbar-nav .nav-item .nav-link.dropdown-toggle:hover{
    color: var(--primary-color)!important;
}

/* header */
.header{
    min-height: 100vh;
    background-color: var(--secondary-color);
}
.header-banner{
    height: calc(100vh - 90px);
}
.header-banner h1{
    max-width: 900px;
}
.header-banner .btn-banner{
    max-width: 280px;
}

/* steps */
.steps-item-icon{
    min-width: 65px;
    width: 65px;
    height: 65px;
    border-radius: 4px;
}

/* templates */
.template-item-img{
    max-width: 400px;
}
.template-item img{
    position: relative;
}
.template-item-img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: var(--transition);
}
.template-item-img:hover::after{
    opacity: 1;
}
.template-item-img .choose-template-btn{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--transition);
}
.template-item-img:hover .choose-template-btn{
    opacity: 1;
    z-index: 4;
}
.template-item-img .choose-template-btn:hover{
    background-color: var(--white-color)!important;
    color: var(--primary-color);
}

/* footer */
.copyright-text{
    border-top: 2px solid #e7eefa;
}

/* Login box */
.Logincontainer{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;  
    margin: 30px  auto; 
    max-width: 100%;
    min-height: 480px;

}

.Logincontainer p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.Logincontainer span{
    font-size: 12px;
}

.Logincontainer a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.Logincontainer button{
    background-color: #1966d2;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.Logincontainer button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.Logincontainer form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.Logincontainer input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.Logincontainer.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.Logincontainer.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
hr{
    border: none;
    background-color: #4c5563;
    width: 90%;
    height: 5px;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.blurtheBack{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.Logincontainer.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #1966d2;
    height: 100%;
    background: linear-gradient(to right, #568ad2, #1966d2);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.Logincontainer.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.Logincontainer.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.Logincontainer.active .toggle-right{
    transform: translateX(200%);
}

/* Basic template  */

.BasicTemplate {
    width:100%;
    display: flex;
}
.BasicTemplate h1{
    margin: 20px;
  text-align: center;
}
.details {
    width:50%; 
}
.details h2{
  text-align: center;
}
.previewresume{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50%;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgb(101, 110, 131);
    color: rgb(255, 255, 255);
    z-index: 0;
}
.previewresume nav{
    position: fixed;
    padding-top: 10px;
    top: 0px;
    width:50%;
    height: 50px;
    
 
}
   
.details form{
   padding-left:20px

}
.details form label{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        color: rgb(130, 139, 162);
}
.details form input{
    margin-top:5px ;
    border-radius: 3px;
    padding: 12px 16px;
    width:100%;
    display: block;
    caret-color: rgb(26, 145, 240);
    background-color: rgb(239, 242, 249);
    outline: none;
    border: 0px;
    color: rgb(30, 37, 50);
    transition: color 0.1s ease 0s;
  
}
.persondets{
    
    display: flex;
    flex-flow: wrap;
}
.persondets div{
    width:42%;
    /* border: 1px solid black; */
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}
.WordDets{
    margin-top: 2px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(130, 139, 162);
}
.wdate{
    width:21%
}
.Wdesctextarea{
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: rgb(239, 242, 249);
    padding: 20px;
}
.marginTop{
    padding-top: 4px;
}
.resume-container{
    height:  90vh;
    background-color: white;
    width:60%;
    border-radius: 10px;

}
.preview-options{
    
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    top: -60px;
    left: 50%;
    margin-left: -225px;
    width: 450px;
}
#submitBtn{
float: right;
}
/* resume formatting  */
.main-content{
    min-height: 100vh;
    opacity: 0;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #00324A;
}
.right-section{
    grid-column: span 5;
    background-color: #f7f7f7;
    height: 100%;
}


.left-content{
    padding: 2rem 3rem;
}
.profile{
    width: 100%;
    border-bottom: 1px solid #002333;
}

.image{
    width: 100%;
    text-align: center;
}
.profile img{
    width: 100%;
    border-radius: 50%;
    border: 8px solid #002333;
    
}

.name{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career{
    font-size: 1.2rem;
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7f7ec;
    padding-top: 3rem;
    margin-left:2rem;
}

.contact-info ul{
    padding-top: 2rem;
}

.contact-info ul li{
    padding: .4rem 0;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    color: #718096;
}
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.skills-section ul{
    padding-top: 2rem;
}
.skills-section ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .2rem 0;
}

.progress-bar{
    width: 100%;
    height: .4rem;
    background-color: #2f81ed5b;
    position: relative;
    border-radius: 12px;
}
.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2D9CDB;
    border-radius: 12px;
}
.js-progress{
    width: 70%;
}
.ps-progress{
    width: 90%;
}
.j-progress{
    width: 85%;
}
.c-progress{
    width: 40%;
}
.n-progress{
    width: 63%;
}
.w-progress{
    width: 78%;
}


.skill-title{
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 1rem;
}

.sub-title{
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f7f7f7;
}

.sub-para{
    color: #ccc;
    padding: .4rem 0;
}

.references-section li{
    color: #ccc;
    padding: .2rem 0;
}
.references-section li i{
    padding-right: .5rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.right-main-content{
    padding: 2rem 3rem;
}


.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F80ED;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after{
    content: "";
    position: absolute;
    width: 60%;
    height: .2rem;
    background-color: #ccc;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para{
    line-height: 1.6rem;
    color: #718096;
    font-size: 1.1rem;
}

.sect{
    padding-bottom: 2rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #002333;
    text-transform: uppercase;
}
.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #2D9CDB;
    text-transform: uppercase;
}

.tl-content{
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #2D9CDB;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

@media screen and (min-width: 992px){
    .section-title .display-6{
        font-size: 45px;
    }
}

@media screen and (max-width: 992px){
    .navbar{
        position: relative;
    }
    .navbar-collapse{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        padding: 25px;
        margin-top: 2px;
    }

    .navbar-nav .dropdown-menu{
        border-radius: 0!important;
    }
}